body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #111827;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #16a34a;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #1f2937;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  font-size: 14px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.priority-alta {
  border-left: 5px solid #ef4444;
}

.priority-media {
  border-left: 5px solid #facc15;
}

.priority-baixa {
  border-left: 5px solid #22c55e;
}